oglasi.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Oglasi">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Oglas" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Kategorija">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="Automobili"></xs:enumeration>
                    <xs:enumeration value="Igracke"></xs:enumeration>
                    <xs:enumeration value="Namestaj"></xs:enumeration>
                    <xs:enumeration value="Usluge"></xs:enumeration>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="DatumIsteka">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Dan">
                      <xs:simpleType>
                        <xs:restriction base="xs:int">
                          <xs:minInclusive value="1"></xs:minInclusive>
                          <xs:maxInclusive value="31"></xs:maxInclusive>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="Mesec">
                      <xs:simpleType>
                        <xs:restriction base="xs:int">
                          <xs:minInclusive value="1"></xs:minInclusive>
                          <xs:maxInclusive value="12"></xs:maxInclusive>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="Godina">
                      <xs:simpleType>
                        <xs:restriction base="xs:int">
                          <xs:minInclusive value="2022"></xs:minInclusive>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Cena">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:int">
                      <xs:attribute type="xs:string" name="valuta" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="TekstOglasa">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="10"/>
                    <xs:maxLength value="180"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element type="xs:string" name="Oznaka"/>
              <xs:element name="MailOglasivaca">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="[^@]+@[^\.]+\..+"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>